.sync-canvas .canvas-container {
  position: absolute !important;
  top: 0;
  left: 0;
}

input[type="file"] {
    display: none;
}

.side-panel {
    padding-top: 40px;
    background-color: rgb(200, 200, 200);
    z-index: 10;
    height: 100vh;
}

/* Clear floats after the columns */
.money-row:after {
  content: "";
  display: table;
  clear: both;
}

.game-info {
  padding: 10px;
  margin: 10px;
  background-color: white;
}
