<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">


	<link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../node_modules/bootstrap-social/bootstrap-social.css">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" href="http://fonts.cdnfonts.com/css/product-sans">
	<title>Wifi Rumble Viewer</title>
</head>
<style>
	body {
		font-family: 'Product Sans', sans-serif;
	}
</style>

<body>

	<div id="helpModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg" role="content">
			<div class="modal-content">
				<div class="modal-body">
					<p>'A/D' or 'Left/Right' : Change frames</p>
					<p>'Space' : Play/Pause</p>
					<p>'W/S' or 'Up/Down' : Change speed</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row row-content">
			<div class="col-8 sync-canvas">
					<div class="hover-div" id="tooltip-div" hidden=true>
							<p> Hover over a tile to see its details!</p>
							<p> Position: <span id="tooltip-pos-text"></span> </p>
							<p> Passability: <span id="tooltip-pass-text"></span> </p>
							<p> Population: <span id="tooltip-pop-text"></span> </p>
							<p> Structure: <span id="tooltip-struct-text"></span> </p>
			    </div>
					<canvas id="pass-canvas" width="100" height="100" style="z-index: 0;"></canvas>
				  <canvas id="highlight-canvas" width="100" height="100" style="z-index: 1;"></canvas>
					<canvas id="icon-canvas" width="100" height="100" style="z-index: 2;"></canvas>
					<canvas id="shade-canvas" width="100" height="100" style="z-index: 3;"></canvas>
					<canvas id="pop-canvas" width="100" height="100" style="z-index: 4;"></canvas>
				  <canvas id="tooltip-canvas" width="100" height="100" style="z-index: 5;"></canvas>
				<!-- <canvas class="board" id="map-canvas" height="0" width="0"></canvas> -->
			</div>
			<div class="col-4 side-panel">

				<!-- <div class="row row-content"> -->
					<h1>Wifi Rumble Viewer <a class="btn btn-social-icon btn-github" href="https://github.com/rzhan11/cell-towers-viewer.git"><i class="fa fa-github"></i></a></h1>
					<hr />
				<!-- </div> -->

				<div class="row row-content">
					<div class="col-7">
						<label class="btn btn-primary btn-sm same-line">
						    <input type="file" id="file-input"/>
						    <i></i> Upload Replay File
						</label>
						<button class="btn btn-primary btn-sm same-line" id="help-modal-button">Help</button>
					</div>

					<div class="col-5">
						<div class="row row-content">
							<div class="col align-self-center">
								<p class='no-margin'>Round: <span id="round-text">0 / 0</span> </p>
							</div>
						</div>
					</div>
				</div>

				<div class="row row-content">

					<div class="col-7">
								<button id="slower-speed-button" class="btn btn-primary btn-sm same-line control-button">&lt;&lt;</button>
								<button id="prev-round-button" class="btn btn-primary btn-sm same-line control-button">&lt;</button>
								<button id="play-button" class="btn btn-primary btn-sm same-line" style="width: 60px;">Play</button>
								<button id="next-round-button" class="btn btn-primary btn-sm same-line control-button">&gt;</button>
								<button id="faster-speed-button" class="btn btn-primary btn-sm same-line control-button">&gt;&gt;</button>
					</div>

					<div class="col-5">
						<p class='no-margin'>Speed: <span id="speed-text">0</span></p>
					</div>
				</div>

				<div class="row row-content">
					<div class="col align-self-center">
						<div class="slidecontainer">
							<input type="range" min="1" max="1" value="0" class="slider" id="frame-range" style="width: calc(100% - 40px); max-width: 100%">
						</div>
					</div>
				</div>

				<!-- <div class="row row-content"> -->
				<!-- </div> -->

				<!-- <div class="row row-content"> -->
				<!-- </div> -->

				<div class="row row-content">
					<div class="col-6">
						<div class="game-info"> <canvas id="money-chart" width="300" height="200"></canvas> </div>
					</div>

					<div class="col">
						<div class="game-info">
							<div class="row" id="p1-unit-label-div"> </div>
							<div class="row" id="p1-unit-count-div"> </div>
							<div class="row" id="p2-unit-label-div"> </div>
							<div class="row" id="p2-unit-count-div"> </div>
						</div>
					</div>
				</div>

				<div class="col-6">
					<div class="game-info" hidden=true> <canvas id="utility-chart" width="300" height="200"></canvas> </div>
				</div>

				<div class="row row-content">
					<div class="col">
						<div class="game-info" hidden=true> <canvas id="money-line" width="100" height="35"></canvas> </div>
					</div>
				</div>
				<div class="row row-content">
					<div class="col">
						<div class="game-info"> <canvas id="utility-line" width="100" height="35"></canvas> </div>
					</div>
				</div>


				<div class="row row-content">
					<div class="col">
						<div class="game-info">
							<p id="metadata-text"></p>
						</div>
					</div>
				</div>
				<br>
			</div>
		</div>
	</div>

	<script src="../node_modules/jquery/dist/jquery.slim.min.js"></script>
	<script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
	<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>



	<script src="../js/fabric.js"></script>

	<script src="../js/constants.js"></script>
	<script src="../js/helper.js"></script>
	<script src="../js/draw-helper.js"></script>

	<script src="../js/my-chart.js"></script>
	<script src="../js/side-panel.js"></script>
	<script src="../js/viewer.js"></script>


</body>

</html>
