<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">


	<link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../node_modules/bootstrap-social/bootstrap-social.css">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" href="http://fonts.cdnfonts.com/css/product-sans">
	<title>Wifi Rumble Viewer</title>
</head>
<style>
	body {
		font-family: 'Product Sans', sans-serif;
	}
</style>

<body>

	<div id="help-modal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg" role="content">
			<div class="modal-content">
				<div class="modal-body">
					<p>'A/D' or 'Left/Right' : Change frames</p>
					<p>'Space' : Play/Pause</p>
					<p>'W/S' or 'Up/Down' : Change speed</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row row-content">
			<div class="col-8 sync-canvas">
					<!-- <div class="hover-div" id="tooltip-div" hidden=true>
							<p> Hover over a tile to see its details!</p>
							<p> Position: <span id="tooltip-pos-text"></span> </p>
							<p> Passability: <span id="tooltip-pass-text"></span> </p>
							<p> Population: <span id="tooltip-pop-text"></span> </p>
							<p> Structure: <span id="tooltip-struct-text"></span> </p>
			    </div> -->
					<canvas id="pass-canvas" width="100" height="100" style="z-index: 0;"></canvas>
				  <canvas id="highlight-canvas" width="100" height="100" style="z-index: 1;"></canvas>
					<canvas id="icon-canvas" width="100" height="100" style="z-index: 2;"></canvas>
					<canvas id="shade-canvas" width="100" height="100" style="z-index: 3;"></canvas>
					<canvas id="pop-canvas" width="100" height="100" style="z-index: 4;"></canvas>
				  <canvas id="tooltip-canvas" width="100" height="100" style="z-index: 5;"></canvas>
				<!-- <canvas class="board" id="map-canvas" height="0" width="0"></canvas> -->
			</div>
			<div class="col-4 side-panel">

				<!-- <div class="row row-content"> -->
				<div class="row row-content">
					<div class="col text-center">
						<h1 style="font-size: 42px; font-weight: bold; font-style: normal;">Wifi Rumble Viewer</h1>
					</div>
				</div>
				<!-- </div> -->

				<div class="row row-content justify-content-center">
					<div class="col text-center" style="padding-top: 10px;">
						<label class="btn btn-secondary btn-sm same-line roboto-font" style="width: 166px; align-items: center; font-size: 16px;">
						    <input type="file" id="file-input"/>
						    <i></i> Upload Replay File
						</label>

						<div id="metadata-div" hidden>
							<span id="metadata-p1-text"></span> vs <span id="metadata-p2-text"></span> on <span id="metadata-map-text" style="font-weight: 900;"></span>
							<br>
							<br>
							<span id="p1-time-text" style="color: red"></span> <span id="p2-time-text" style="color: blue"></span>
							<div id="winner-div" hidden>
								<span id="winner-text"></span> wins!
							</div>

						</div>
						<!-- <br> -->
						<!-- <span id="file-name-text" style="font-weight: bold"></span> -->
					</div>
				</div>

				<div id="metadata-div" >
				</div>

				<div class="row row-content">
					<div class="col align-self-center text-center" style="padding-top: 20px;">
						<div class="slidecontainer">
							<input type="range" min="1" max="1" value="0" class="slider" id="frame-range" style="width: calc(100% - 40px); max-width: 100%;">
						</div>
					</div>
				</div>

				<div class="row row-content">
					<div class="col text-center">
						<p class='no-margin roboto-font' style="font-size: 17px;">Round: <span id="round-text">0 / 0</span> </p>
					</div>
				</div>

				<div class="row row-content">
						<div class="col text-center">
								<button id="prev-round-button" class="btn btn-blue btn-sm same-line control-button">&lt;</button>
								<div class="divider-sm"></div>
								<button id="play-button" class="btn btn-blue btn-sm same-line roboto-font" style="width: 70px;">Play</button>
								<div class="divider-sm"></div>
								<button id="next-round-button" class="btn btn-blue btn-sm same-line control-button">&gt;</button>
						</div>

						<div class="col text-center">
								<button id="slower-speed-button" class="btn btn-blue btn-sm same-line control-button">&lt;</button>
								<div class="divider-lg"></div>
								<p class='no-margin roboto-font' style="display: inline-block; line-height:35px; font-size: 16px;" >Speed: <span id="speed-text">0</span></p>
								<div class="divider-lg"></div>
								<button id="faster-speed-button" class="btn btn-blue btn-sm same-line control-button">&gt;</button>
						</div>
				</div>


				<!-- <div class="row row-content"> -->
				<!-- </div> -->

				<!-- <div class="row row-content"> -->
				<!-- </div> -->

				<div class="row row-content">
					<div class="col-6">
						<div class="game-info"> <canvas id="money-chart" width="153px" height="133px"></canvas> </div>
					</div>

					<div class="col">
						<div class="game-info" id="tooltip-div" style="height: 235px;">
							<p> P1 Bid: <span id="p1-bid-text"></span> </p>
							<p> P2 Bid: <span id="p2-bid-text"></span> </p>
						</div>
					</div>
				</div>

				<div class="col-6">
					<div class="game-info" hidden=true style="background: rgb(200, 200, 200);"> <canvas id="utility-chart" width="317px" height="153px"></canvas> </div>
				</div>

				<div class="row row-content">
					<div class="col">
						<div class="game-info" hidden=true> <canvas id="money-line" width="317" height="76"></canvas> </div>
					</div>
				</div>
				<div class="row row-content">
					<div class="col">
						<div class="game-info"> <canvas id="utility-line" width="75" height="26"></canvas> </div>
					</div>
				</div>

				<div class="row row-content">
					<div class="col">
						<div class="game-info" id="tooltip-div">
							<p>
								Hover over tile for details! <br>
								Position: <span id="tooltip-pos-text"></span> <br>
								Passability: <span id="tooltip-pass-text"></span> <br>
								Population: <span id="tooltip-pop-text"></span> <br>
								Structure: <span id="tooltip-struct-text"></span>
							</p>
						</div>
					</div>

					<div class="col">
						<div class="game-info">
							<div class="row" id="p1-unit-label-div"> </div>
							<div class="row" id="p1-unit-count-div"> </div>
							<div class="row" id="p2-unit-label-div"> </div>
							<div class="row" id="p2-unit-count-div"> </div>
						</div>
					</div>
		    </div>

				<div class="row row-content">
					<div class="col text-center">
						<img src="img/wifi_awap.png" alt="Icon not loaded" width="90" height="30" style="position: relative; top: 5px;">
						<div class="divider-sm"></div>
						<a class="btn btn-social-icon btn-github" style="width: 30px; height: 30px;" href="https://github.com/rzhan11/cell-towers-viewer.git"><i class="fa fa-github"></i></a>
						<div class="divider-sm"></div>
						<button class="btn btn-secondary btn-sm same-line" id="help-modal-button" style="width: 55px; height: 27px;">Help</button>
						<!-- <button class="btn btn-secondary btn-sm same-line" id="metadata-modal-button">Metadata</button> -->
					</div>
				</div>


				<br>
			</div>
		</div>
	</div>

	<script src="../node_modules/jquery/dist/jquery.slim.min.js"></script>
	<script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
	<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>



	<script src="../js/fabric.js"></script>

	<script src="../js/constants.js"></script>
	<script src="../js/helper.js"></script>
	<script src="../js/draw-helper.js"></script>

	<script src="../js/my-chart.js"></script>
	<script src="../js/side-panel.js"></script>
	<script src="../js/viewer.js"></script>


</body>

</html>
